* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------- HEADER ---------------------------------------- */
.container-logo {
    height: 56px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 28px;
}

.logo img {
    height: 100%;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-light {
    background-color: #efefef !important;
}

.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-toggler {
    padding: 0px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    transition: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    width: 36px;
    height: 36px;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

a.nav-link.active {
    font-family: 'Proxima Nova', sans-serif;
    color: #131313;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.08rem;
    text-decoration: none;
}









/* ---------------------------------------- CAROUSEL ---------------------------------------- */
.container-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 20px;
}

.carousel {
    padding-left: 50px;
    padding-right: 50px;
}

.carousel-indicators {
    margin-bottom: 0px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 768px) {
    .container-carousel {
        display: none;
    }
}










/* ---------------------------------------- CATEGORY IMAGE ---------------------------------------- */
.container-category-image {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.category-image {
    height: 100px;
}

.category-image img {
    width: 100%;
    height: 100%;
}










/* ---------------------------------------- PRODUCT CATEGORY ---------------------------------------- */
.product-category-new-arrivals {
    margin: 0 auto;
    max-width: 1400px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-tittle {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-tittle h2 {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.625rem;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0px;
    margin-bottom: 0px;
}

/* ---------- GRID ---------- */
.container-product {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.store-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.store-product a {
    text-decoration: none;
}

.store-product-image {
    display: flex;
    justify-content: flex-start;
}

.store-product-image img {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
}

.box-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.product-name {
    margin-bottom: 2px;
    height: 24px;
    width: 90%;
}

.product-name p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.product-model {
    margin-bottom: 8px;
    height: 22px;
    width: 90%;
}

.product-model p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 0.938rem;
    font-weight: normal;
    color: rgb(101, 101, 101);
    letter-spacing: 0.5px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.product-price {
    height: 30px;
    width: 90%;
}

.product-price p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    color: rgb(19, 19, 19);
    letter-spacing: 0.04rem;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
    .container-product {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .container-product {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .container-category-image {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .container-product {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .container-product {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 50px;
        padding-right: 50px;
    }

}










/* ---------------------------------------- FOOTER ---------------------------------------- */
footer {
    margin-top: 50px;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h2 {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: .5px;
}










/* ---------------------------------------- BRANDS ---------------------------------------- */
.container-brand {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.brand {
    transition: .2s ease-in-out;
}

.brand:hover {
    transform: scale(1.25);
}

.brand img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
    .container-brand {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .container-brand {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .container-brand {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .container-brand {
        grid-template-columns: repeat(2, 1fr);
    }
}










/* ---------------------------------------- BRANDS PAGES ---------------------------------------- */
.container-product-brand {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.brand-img {
    margin: 0px auto;
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.brand-img img {
    width: 30%;
}










/* ---------------------------------------- INDIVIDUAL PRODUCT ---------------------------------------- */



/* ---------- BREADDRUMB ---------- */
.container-breadcrumb {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 2rem;
}

.breadcrumb {
    display: flex;
    align-items: baseline;
}

.breadcrumb-item a {
    color: rgb(101, 101, 101);
    text-decoration: none;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

.breadcrumb-item.active {
    color: #131313;
    text-decoration: none;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

.underline-breaddrumb {
    display: inline-block;
    border-bottom: 1px solid black;
}



/* ---------- TITLE ---------- */
.container-individual-title {
    max-width: 1400px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 1rem;
}

.individual-product-title-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.individual-product-title-1 h1 {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #131313;
    letter-spacing: 0.5px;
    text-transform: none;
    text-align: left;
    margin-bottom: 0px;
}

.individual-product-title-1 p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.125rem;
    font-weight: 450;
    color: #202020;
    letter-spacing: 0.5px;
    text-transform: none;
    text-align: left;
}



/* ---------- PRODUCT ---------- */
.container-individual-product {
    max-width: 1400px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/* IMAGE */
.individual-product-image {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
}

.individual-product-image img {
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}

/* PRODUCT INFO */
.container-individual-product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

/* BORDER + INFO */
.individual-product-border {
    border: 0.1rem solid #efefef;
    padding: 20px;
    width: 500px;
}

/* SIZE DISPLAYED */
.individual-product-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size-displayed {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 20px;
}

.size-displayed img {
    height: 20px;
    width: auto;
    margin-right: 10px;
}

.size-displayed p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #131313;
    letter-spacing: 0.5px;
    text-transform: none;
    text-align: center;
    margin-bottom: 0px;
}



/* MODAL */
.modal-btn {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 0px;
}

.size-button-svg {
    margin-right: 10px;
}

svg.size-button-svg {
    fill: rgb(101, 101, 101);
}

p.modal-button-text {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(101, 101, 101);
    letter-spacing: 0.5px;
    text-transform: none;
    text-align: center;
    margin-bottom: 0px;
}

p.modal-text {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #131313;
    letter-spacing: 0.5px;
    text-transform: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

p.modal-text-category {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-transform: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.modal-border-category {
    border: 0.1rem solid rgb(220, 220, 220);
    background-color: #131313;
}

.modal-border-size-1 {
    border-top: none;
    border: 0.1rem solid rgb(220, 220, 220);
    background-color: #ffffff;
}

.modal-border-size-2 {
    border-top: none;
    border: 0.1rem solid rgb(220, 220, 220);
    background-color: #efefef;
}


































/* SELECT SIZE */
.accordion-body-size {
    padding: 0px;
    overflow-y: scroll;
    max-height: 250px;
    z-index: 20;
}

.accordion-body-info {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 0px;
}

.accordion-body-info p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: rgb(101, 101, 101);
    letter-spacing: .5px;
    text-transform: none;
    margin-bottom: 0px;
}

.accordion-item {
    background-color: #ffffff;
    border: none;
}

.accordion-button {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    height: 50px;
    line-height: 24px;
    font-weight: 400;
    color: #131313;
    letter-spacing: .5px;
    text-transform: none;
    transition: none;
}

.accordion-info {
    padding: 1rem 0rem;
}

.accordion-svg {
    margin-right: 10px;
}

.accordion-flush .accordion-item:first-child {
    border-top: 0.1rem solid #efefef;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 0.1rem solid #efefef;
}

.accordion-flush .accordion-item {
    border-left: 0.1rem solid #efefef;
    border-right: 0.1rem solid #efefef;
    border-radius: 0px;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #131313;
    background-color: #ffffff;
    box-shadow: none;
}

/* BUY */
.box-individual-product-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #131313;
    border: 0.1rem solid #131313;
    transition: .2s ease-in-out;
    margin-top: 20px;
}

.box-individual-product-buy:hover {
    background-color: #202020;
    border: 0.1rem solid #202020;
}

.box-individual-product-buy span {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* DIVIDER */
.divider {
    border: 1px solid #efefef;
    background-color: #efefef;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* GRID - ACTIVE */
.box-individual-product-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #ffffff;
    border: 0.1rem solid #efefef;
}

.individual-price-active-accesories span {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #131313;
    letter-spacing: .5px;
    text-transform: none;
    text-overflow: ellipsis;
}


/* BUTTON */
.size-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 1rem 1.25rem;
    border: 0.1rem solid #efefef;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    cursor: pointer;
}

.size-grid-button.stock span {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #131313;
    letter-spacing: .5px;
    text-transform: none;
}

.size-grid-button.no-stock span {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: rgb(101, 101, 101);
    letter-spacing: .5px;
    text-transform: none;
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
    .container-individual-product {
        max-width: 892px;
        flex-direction: column;
    }

    .individual-product-image img {
        padding-left: 0px;
        padding-right: 0px;
    }

    .individual-product-title-2 {
        display: none;
    }

    .individual-product-image {
        margin-right: 0px;
    }

    .container-individual-product-box {
        width: 100%;
    }

    .individual-product-border {
        width: 100%;
    }

    .releated-container-product {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-related-product {
        max-width: 892px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .releated-container-product {
        grid-template-columns: repeat(3, 1fr);
    }

    .container-related-product {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .container-breadcrumb {
        display: none;
    }

    .container-individual-title {
        margin-top: 2rem;
    }

    .individual-product-title-1 h1 {
        font-size: 1.25rem;
    }

    .individual-product-title-1 p {
        font-size: 1rem;
    }

    .releated-container-product {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .releated-container-product {
        grid-template-columns: repeat(2, 1fr);
    }
}










/* ---------------------------------------- PAGINATION ---------------------------------------- */
.container-pagination {
    display: flex;
    max-width: 1400px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.pagination {
    margin-bottom: 0px;
}

.page-item {
    margin-left: 5px;
    margin-right: 5px;
}

.page-link {
    border: none;
    box-shadow: none;
    transition: none;
    color: #131313;
}

a.page-link {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #131313;
    letter-spacing: .5px;
    text-transform: none;
}

span.page-link {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: .5px;
    text-transform: none;
}

.page-link:focus {
    color: #131313;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}

.page-link:hover {
    background-color: transparent;
    color: #131313;
}

.page-item.active .page-link {
    background-color: #131313;
    border-color: #131313;
    transition: .2s ease-in-out;
}

.page-item.active .page-link:hover {
    background-color: #202020;
    border-color: #202020;
}










/* ---------------------------------------- ABOUT US ---------------------------------------- */
.category-logo-legit {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-image-background {
    width: 100%;
    display: flex;
}

.container-image-background img {
    width: 100%;
}

.container-about-us {
    max-width: 1400px;
    margin: 0px auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.container-about-us p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.625rem;
    color: #131313;
    font-weight: normal;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}