/* ---------------------------------------- ABOUT US ---------------------------------------- */
.category-logo-legit {
    @include flex (flex, center, center, row);
    width: map-get($principal-container, width-container);
    margin-bottom: 2rem;

    img {
        @include img (100%, auto);
    }
}

.container-about-us {
    @include flex (flex, center, center, row);
    width: 75%;
    margin: map-get($principal-container, margin-container);
    padding: map-get($principal-container, padding-container);
    height: 100%;

    p {
        font-family: nth($fontfamily, 1);
        color: nth($fontcolor, 1);
        font-size: nth($fontsize, 7);
        @include text (none, none, 400, 0.04rem, 0px, center);
    }
}