/* ---------------------------------------- BRANDS ---------------------------------------- */
.container-brand {
    width: map-get($principal-container, width-container);
    margin: map-get($principal-container, margin-container);
    padding: map-get($principal-container, padding-container);
    @include grid-columns (grid, repeat(6, 1fr), 50px);

    a {
        .brand {
            @extend %transition;

            &:hover {
                transform: scale(1.25);
            }

            img {
                @include flex (flex, center, center, row);
                padding: 20px;
            }
        }
    }
}