/* ---------------------------------------- CAROUSEL ---------------------------------------- */
.container-carousel {
    width: map-get($principal-container, width-container);
    margin: map-get($principal-container, margin-container);
    padding: map-get($principal-container, padding-container);
    @include flex (flex, center, center, row);
    margin-bottom: 20px;

    .carousel {
        .carousel-indicators {
            margin-bottom: 0px;
        }
    }
}