/* ---------------------------------------- CATEGORY IMAGE ---------------------------------------- */
.container-category-image {
    @include flex (flex, center, center, row);
    width: map-get($principal-container, width-container);
    margin: map-get($principal-container, margin-container);
    padding: map-get($principal-container, padding-container);
    margin-top: 100px;
    margin-bottom: 100px;

    .category-image {
        height: 100px;

        img {
            @include img (100%, 100%);
        }
    }
}