/* ---------------------------------------- HEADER ---------------------------------------- */
header {
    .container-logo {
        @include flex (flex, center, center, row);
        height: 56px;
        background-color: nth($bg-color, 3 );


        a {
            .logo {
                height: 28px;

                img {
                    @include img (auto, 100%);
                }
            }
        }
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: nth($bg-color, 4 ) !important;

        .container-fluid {
            padding: map-get($principal-container, padding-container);

            .navbar-toggler {
                padding: 0px;
                font-size: 1.25rem;
                line-height: 1;
                background-color: transparent;
                border: 0px;
                border-radius: 0px;
                transition: none;

                &:focus {
                    box-shadow: none;
                }

                .navbar-toggler-icon {
                    width: 36px;
                    height: 36px;
                }
            }

            .collapse {
                .navbar-nav {
                    .nav-item {
                        margin-left: 10px;
                        margin-right: 10px;

                        .nav-link.active {
                            font-family: nth($fontfamily, 1);
                            color: nth($fontcolor, 1);
                            font-size: nth($fontsize, 2);
                            @include text (none, none, 400, 0.08rem, 0px, left);
                        }
                    }
                }
            }
        }
    }
}