/* ---------------------------------------- INDIVIDUAL PRODUCT ---------------------------------------- */
.container-individual-product {
    @include flex (flex, center, flex-start, row);
    width: map-get($principal-container, width-container);
    margin: map-get($principal-container, margin-container);
    padding: map-get($principal-container, padding-container);
    margin-top: 2rem;


    .container-main-section {
        @include flex (flex, center, flex-start, column);

        .container-individual-brand {
            @include flex (none, left, center, row);
            margin-bottom: 20px;

            .individual-brand {

                h3 {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 1);
                    font-size: nth($fontsize, 2);
                    @include text (none, none, 400, 0.04rem, 0px, center);
                    line-height: 1.33;
                }
            }
        }

        .container-breadcrumb {
            @include flex (flex, left, center, row);

            nav {
                .breadcrumb {
                    @include flex (flex, center, baseline, row);
                    margin-bottom: 0px;

                    .breadcrumb-item {
                        a {
                            font-family: nth($fontfamily, 1);
                            color: nth($fontcolor, 3);
                            font-size: nth($fontsize, 2);
                            @include text (none, none, 400, 0.04rem, 0px, center);
                            line-height: 1.33;
                        }
                    }

                    .breadcrumb-item.active {
                        font-family: nth($fontfamily, 1);
                        color: nth($fontcolor, 1);
                        font-size: nth($fontsize, 2);
                        @include text (none, none, 400, 0.04rem, 0px, center);
                        line-height: 1.33;

                        .underline-breaddrumb {
                            display: inline-block;
                            border-bottom: 1px solid black;
                        }
                    }
                }
            }
        }

        .container-individual-principal-title {
            @include flex (none, left, center, row);
            margin-bottom: 0px;

            .individual-principal-title {
                @include flex (flex, left, flex-start, column);

                h1 {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 1);
                    font-size: nth($fontsize, 7);
                    @include text (none, none, 650, 0.04rem, 0px, left);
                    line-height: 1.35;
                }

                p {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 2);
                    font-size: nth($fontsize, 4);
                    @include text (none, none, 450, 0.04rem, 0px, left);
                    line-height: 1.35;
                }
            }
        }

        .individual-product-image {
            @include flex (flex, center, center, row);
            @include padding (0px, 0px, 50px, 50px);
            margin: map-get($principal-container, margin-container);
            width: 90%;
            min-width: 850px;

            img {
                @include img (100%, auto);
            }
        }
    }

    .container-side-section {
        @include flex (flex, center, stretch, column);
        width: 100%;
        max-width: 600px;

        .container-individual-brand {
            @include flex (flex, left, center, row);
            margin-bottom: 20px;

            .individual-brand {

                h3 {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 1);
                    font-size: nth($fontsize, 2);
                    @include text (none, none, 400, 0.04rem, 0px, center);
                    line-height: 1.33;
                }
            }
        }

        .container-individual-secondary-title {
            @include flex (flex, left, center, row);
            margin-bottom: 20px;

            .individual-secondary-title {
                @include flex (flex, left, left, column);


                h2 {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 1);
                    font-size: nth($fontsize, 7);
                    @include text (none, none, 650, 0.04rem, 0px, left);
                    line-height: 1.35;
                }

                p {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 2);
                    font-size: nth($fontsize, 4);
                    @include text (none, none, 450, 0.04rem, 0px, left);
                    line-height: 1.35;
                }
            }
        }

        .individual-product-border {
            @extend %border;
            padding: 20px;

            .individual-product-top-info {
                @include flex (flex, space-between, center, row);

                .size-displayed {
                    @include flex (flex, left, center, row);
                    padding-bottom: 20px;

                    img {
                        @include img (auto, 20px);
                        margin-right: 10px;
                    }

                    p {
                        font-family: nth($fontfamily, 1);
                        color: nth($fontcolor, 1);
                        font-size: nth($fontsize, 3);
                        @include text (none, none, 400, 0.04rem, 0px, left);
                    }
                }
            }

            .accordion.accordion-flush {
                .accordion-item {
                    border-left: 0.1rem solid #efefef;
                    border-right: 0.1rem solid #efefef;
                    border-radius: 0px;

                    &:first-child {
                        border-top: 0.1rem solid #efefef;
                    }

                    &:last-child {
                        border-bottom: 0.1rem solid #efefef;
                    }
                }
            }

            .accordion {
                .accordion-item {
                    background-color: nth($bg-color, 3);
                    border: none;

                    .accordion-header {
                        .accordion-button.accordion-info {
                            padding: 1rem 0rem;
                        }

                        .accordion-button {
                            font-family: nth($fontfamily, 1);
                            color: nth($fontcolor, 1);
                            font-size: nth($fontsize, 3);
                            @include text (none, none, 400, 0.04rem, 0px, left);
                            height: 50px;
                            transition: none;

                            &:focus {
                                z-index: 3;
                                border-color: none;
                                outline: 0;
                                box-shadow: none;
                            }

                            &:not(.collapsed) {
                                color: nth($fontcolor, 1);
                                background-color: nth($bg-color, 3);
                                box-shadow: none;
                            }

                            .accordion-svg {
                                margin-right: 10px;
                            }
                        }
                    }

                    .accordion-collapse {
                        .accordion-body-size {
                            padding: 0px;
                            overflow-y: scroll;
                            max-height: 250px;
                            z-index: 20;

                            .size-grid {
                                @include flex (flex, space-between, center, row);
                                @extend %border;
                                height: 50px;
                                width: 100%;
                                padding: 1rem 1.25rem;
                                border-left: 0px;
                                border-right: 0px;
                                border-bottom: 0px;
                                cursor: pointer;

                                .modal-btn {
                                    @include flex (flex, left, center, row);
                                    padding-bottom: 0px;

                                    .size-button-svg {
                                        margin-right: 10px;
                                        fill: nth($color, 1 );
                                    }

                                    .modal-button-text {
                                        font-family: nth($fontfamily, 1);
                                        color: nth($fontcolor, 1);
                                        font-size: nth($fontsize, 3);
                                        @include text (none, none, 400, 0.04rem, 0px, center);
                                    }
                                }

                                .modal {
                                    .modal-dialog {
                                        max-width: 750px;

                                        .modal-content {
                                            height: 80%;

                                            .modal-header {
                                                .modal-title {
                                                    font-family: nth($fontfamily, 1);
                                                    color: nth($fontcolor, 1);
                                                    font-size: nth($fontsize, 5);
                                                    @include text (none, none, 550, 0.04rem, 0px, center);
                                                    line-height: 1.5;
                                                }
                                            }

                                            .modal-body {
                                                .container-fluid {
                                                    .row {
                                                        .modal-border-category {
                                                            border: 0.1rem solid rgb(220, 220, 220);
                                                            background-color: nth($bg-color, 1);

                                                            .modal-text-category {
                                                                font-family: nth($fontfamily, 1);
                                                                color: nth($fontcolor, 4);
                                                                font-size: nth($fontsize, 3);
                                                                @include text (none, none, 400, 0.04rem, 0px, center);
                                                                padding-top: 10px;
                                                                padding-bottom: 10px;
                                                            }
                                                        }

                                                        .modal-border-size-1 {
                                                            border-top: none;
                                                            border: 0.1rem solid rgb(220, 220, 220);
                                                            background-color: nth($bg-color, 3);

                                                            .modal-text {
                                                                font-family: nth($fontfamily, 1);
                                                                color: nth($fontcolor, 1);
                                                                font-size: nth($fontsize, 3);
                                                                @include text (none, none, 400, 0.04rem, 0px, center);
                                                                padding-top: 10px;
                                                                padding-bottom: 10px;
                                                            }
                                                        }

                                                        .modal-border-size-2 {
                                                            border-top: none;
                                                            border: 0.1rem solid rgb(220, 220, 220);
                                                            background-color: nth($bg-color, 4);

                                                            .modal-text {
                                                                font-family: nth($fontfamily, 1);
                                                                color: nth($fontcolor, 1);
                                                                font-size: nth($fontsize, 3);
                                                                @include text (none, none, 400, 0.04rem, 0px, center);
                                                                padding-top: 10px;
                                                                padding-bottom: 10px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .size-grid-button.stock span {
                                    font-family: nth($fontfamily, 1);
                                    color: nth($fontcolor, 1);
                                    font-size: nth($fontsize, 3);
                                    @include text (none, none, 400, 0.04rem, 0px, center);
                                    line-height: 1.6;
                                }

                                .size-grid-button.no-stock span {
                                    font-family: nth($fontfamily, 1);
                                    color: nth($fontcolor, 3);
                                    font-size: nth($fontsize, 3);
                                    @include text (none, none, 400, 0.04rem, 0px, center);
                                    line-height: 1.6;
                                }
                            }
                        }

                        .accordion-body-info {
                            @include padding (0px, 0px, 30px, 0px);

                            p {
                                font-family: nth($fontfamily, 1);
                                color: nth($fontcolor, 3);
                                font-size: nth($fontsize, 3);
                                @include text (none, none, 400, 0.04rem, 0px, left);
                                line-height: 1.5;

                                span {
                                    font-family: nth($fontfamily, 1);
                                    color: nth($fontcolor, 1);
                                    font-size: nth($fontsize, 3);
                                    @include text (none, none, 400, 0.04rem, 0px, left);
                                    line-height: 1.5;
                                }
                            }
                        }
                    }
                }
            }

            .box-individual-product-price {
                @include flex (flex, center, center, row);
                @extend %border;
                height: 50px;
                background-color: nth($bg-color , 3);

                span {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 1);
                    font-size: nth($fontsize, 3);
                    @include text (none, none, 400, 0.04rem, 0px, left);
                    line-height: 1.5;
                }
            }

            .box-individual-product-buy {
                @include flex (flex, center, center, row);
                height: map-get($button, btn-height);
                background-color: map-get($button, btn-background);
                transition: map-get($button, btn-transition);
                margin-top: 20px;

                &:hover {
                    background-color: map-get($button, btn-background-hover);
                }

                span {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 4);
                    font-size: nth($fontsize, 3);
                    @include text (none, uppercase, 400, 0.04rem, 0px, left);
                    line-height: 1.5;
                }
            }

            .divider {
                border: 1px solid #efefef;
                background-color: nth($bg-color, 3);
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}