/* ---------------------------------------- PAGINATION ---------------------------------------- */
.container-pagination {
    width: map-get($principal-container, width-container);
    margin: map-get($principal-container, margin-container);
    padding: map-get($principal-container, padding-container);
    @include flex (flex, center, center, row);
    margin-top: 2rem;
    margin-bottom: 0px;

    nav {
        .pagination {
            margin-bottom: 0px;

            .page-item.active {
                .page-link {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 4);
                    font-size: nth($fontsize, 3);
                    @include text (none, none, 400, 0.04rem, 0px, center);
                    line-height: 1.33;
                    border: none;
                    box-shadow: none;
                    transition: none;
                    background-color: nth($bg-color, 1 );
                    border-color: #131313;
                    @extend %transition;

                    &:hover {
                        background-color: nth($bg-color, 2 );
                        border-color: #202020;
                    }
                }
            }

            .page-item {
                margin-left: 5px;
                margin-right: 5px;

                .page-link {
                    font-family: nth($fontfamily, 1);
                    color: nth($fontcolor, 1);
                    font-size: nth($fontsize, 3);
                    @include text (none, none, 400, 0.04rem, 0px, center);
                    line-height: 1.33;
                    border: none;
                    box-shadow: none;
                    transition: none;

                    &:focus {
                        color: nth($fontcolor, 1 );
                        background-color: transparent;
                        outline: 0;
                        box-shadow: none;
                    }

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}