/* ---------------------------------------- GRID ---------------------------------------- */
.container-product {
    width: map-get($principal-container, width-container);
    margin: map-get($principal-container, margin-container);
    padding: map-get($principal-container, padding-container);
    @include grid-columns (grid, repeat(4, 1fr), 50px);

    .store-product {
        @include flex (flex, space-between, center, column);

        a {
            text-decoration: none;

            .store-product-image {
                @include flex (flex, flex-start, center, row);

                img {
                    @include img (100%, 100%);
                    padding-right: 20px;
                    padding-left: 20px;
                }
            }

            .box-product {
                @include flex (flex, flex-end, center, column);
                width: map-get($principal-container, width-container);

                .product-name {
                    margin-bottom: 2px;
                    height: 24px;
                    width: 90%;

                    p {
                        font-family: nth($fontfamily, 1);
                        color: nth($fontcolor, 1);
                        font-size: nth($fontsize, 3);
                        @include text (none, uppercase, 700, 0.04rem, 0px, center);
                        @include text-overflow (-webkit-box, vertical, 1, hidden);
                    }
                }

                .product-model {
                    margin-bottom: 8px;
                    height: 22px;
                    width: 90%;

                    p {
                        font-family: nth($fontfamily, 1);
                        color: nth($fontcolor, 3);
                        font-size: nth($fontsize, 2);
                        @include text (none, none, 400, 0.04rem, 0px, center);
                        @include text-overflow (-webkit-box, vertical, 1, hidden);
                    }
                }

                .product-price {
                    height: 30px;
                    width: 90%;

                    p {
                        font-family: nth($fontfamily, 1);
                        color: nth($fontcolor, 1);
                        font-size: nth($fontsize, 5);
                        @include text (none, none, 400, 0.04rem, 0px, center);
                        @include text-overflow (-webkit-box, vertical, 1, hidden);
                    }
                }
            }
        }
    }
}