/* ---------------------------------------- PRODUCT CATEGORY ---------------------------------------- */
.product-category-new-arrivals {
    @include flex (flex, center, center, column);
    width: map-get($principal-container, width-container);
    margin: map-get($principal-container, margin-container);
    padding-bottom: 2rem;

    .box-tittle {
        background-color: nth($bg-color, 3);
        @include margin (20px, 20px, 0px, 0px);

        h2 {
            font-family: nth($fontfamily, 1 );
            color: nth($fontcolor, 1 );
            font-size: nth($fontsize, 7 );
            @include text (none, none, 400, 0.04rem, 0px, center);
        }
    }
}