/* ---------------------------------------- MEDIA QUERYS ---------------------------------------- */
@media screen and (max-width: 1200px) {
    .container-product {
        @include grid-columns (grid, repeat(3, 1fr), 50px);
    }

    .container-brand {
        @include grid-columns (grid, repeat(4, 1fr), 50px);
    }

    .container-individual-product {
        flex-direction: column;

        .container-main-section {
            .container-breadcrumb {
                display: none;
            }

            .container-individual-brand {
                display: flex;
            }

            .container-individual-principal-title {
                display: flex;

                .individual-principal-title {
                    h1 {
                        text-transform: uppercase;
                    }
                }
            }

            .individual-product-image {
                padding-top: 0px;
                padding-left: 0px;
                padding-right: 0px;
                min-width: 100%;

                img {
                    min-width: 100%;
                }
            }
        }

        .container-side-section {
            max-width: none;

            .container-individual-brand {
                display: none;
            }

            .container-individual-secondary-title {
                display: none;
            }

            .individual-product-border {
                border: none;
                padding: 0px;

                .individual-product-top-info {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container-product {
        @include grid-columns (grid, repeat(3, 1fr), 50px);
    }

    .container-brand {
        @include grid-columns (grid, repeat(3, 1fr), 50px);
    }
}

@media screen and (max-width: 768px) {
    .container-carousel {
        display: none;
    }

    .container-category-image {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .container-product {
        @include grid-columns (grid, repeat(2, 1fr), 50px);
    }

    .container-brand {
        @include grid-columns (grid, repeat(2, 1fr), 50px);
    }
}

@media screen and (max-width: 600px) {
    .container-product {
        @include grid-columns (grid, repeat(1, 1fr), 50px);
    }


    .container-individual-product {
        .container-side-section {
            .individual-product-border {
                .accordion {
                    .accordion-item {
                        .accordion-collapse {
                            .accordion-body-size {
                                .size-grid {
                                    &:nth-child(1) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}